{{#if isShow}}
<div class="{{cssModel.container}}" style="{{containerStyle}}">
    <div class="{{cssModel.inner}}" style="{{innerStyle}}">

        <div class="{{cssModel.giftsList}}" style="{{giftsListStyle}}"> 
        {{#each gifts}}
            <a class="{{this.clsss}}" href="{{this.href}}">
                <div>
                    <img src="{{this.logo}}">
                </div>
                <p title="{{this.title}}">{{this.title}}</p>
            </a>
        {{/each}}
        </div>


        <span class="{{cssModel.buyBtn}}" id="{{cssModel.buyBtn}}" style="{{buyBtnStyle}}"></span>
        <p class="{{cssModel.bottomTips}}" style="{{bottomTipsStyle}}">{{bottomTips}}</p>
    </div>
</div>
{{/if}}