<div class="{{cssModel.container}}" style="{{containerStyle}}">
    <div class="{{cssModel.inner}}" style="{{innerStyle}}">
        hello world
    </div>
</div>

<img src="{{containerBgImg}}" alt="">
